.contato-pagina {
    display: flex;
    max-width: 900px;
    margin: 30px auto;
    gap: 60px;
    align-items: center;
    padding: 0 20 px;
}
.contato-imagem {
    flex: 1;
    min-width: 0;
}
.contato-imagem img {
    width: 100%;
    height: auto;
}
.formulario-container {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px;
}
.formulario {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.formulario h3 {
    color: black;
    text-align: left;
    margin-bottom: 5px;
    font-size: 1.3rem;
}

.inputgrupo {
    position: relative;
}

.inputgrupo input,
.inputgrupo select,
.inputgrupo textarea {
    width: 100%;
    padding: 7px 15px;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 0.95rem;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}
.inputgrupo input:focus,
.inputgrupo select:focus,
.inputgrupo textarea:focus {
    border-color: #00274C;
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 0 2px rgb(0, 39, 76, 0.1);
}

.inputgrupo select {
    appearance: none;
    width: 21rem;
    color: #555;
}
.inputgrupo textarea {
    resize: vertical;
    min-height: 30px;
}
.submit-botao {
    display: flex;
    justify-content: center;
    margin-left: 8rem;
    margin-top: 10px;
    width: 70%;
    border: none;
    border-radius: 9px;
    font-size: 1rem;
    background-color: #1351d8;
    color: #fff;
    padding: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.submit-botao:hover {
    background-color: #00274C;
    color: #fff;
    transform: translateY(-2px);
}
